<div class="container-1">
  <div class="background">
    <div class="abstract-shape shape-1"></div>
    <div class="abstract-shape shape-2"></div>
  </div>

  <div class="content">
    <div class="title-section">
      <div class="title-container">
        <span class="title-line title-bold">El comienzo</span>
        <span class="title-line title-italic">de nuestro</span>
        <span class="title-line title-bold">para siempre</span>
      </div>
    </div>

    <app-countdown></app-countdown>

    <div class="buttons">
      <button class="btn btn-primary" (click)="navigateToInfo()">Información</button>
      <button class="btn btn-secondary" (click)="navigateToAlbum()">Ir al Álbum</button>
    </div>
  </div>

  <div class="footer">
    <img src="flower-svgrepo-com.svg" alt="">
    <p>JUAN & SHARON - 07.06.2025</p>
  </div>
</div>