<div class="container-1">
  <div class="background">
    <div class="abstract-shape shape-1"></div>
    <img src="/bg.jpeg" alt="">
  </div>

  <div class="content">
    <div class="title-section">
      <div class="title-container">
        <span class="title-line title-bold">El comienzo</span>
        <span class="title-line title-italic">de nuestro</span>
        <span class="title-line title-bold">para siempre</span>
      </div>
    </div>


    <app-countdown></app-countdown>

    <h1 class="title-italic">¡Estás invitad&#64;!</h1>


    <div class="row gap-2">
      <button class="btn btn-secondary" (click)="navigateToAlbum()" [disabled]="albumButtonIsDisabled()">Ir al Álbum</button>
      <button class="btn btn-primary" (click)="navigateToInfo()">Información</button>
      <button class="btn btn-secondary" (click)="navigateToZoom()" [disabled]="zoomVideoCallButtonIsDisabled()">Ver ceremonia por zoom</button>
    </div>
  </div>

  <div class="footer">
    <!-- <img src="flower-svgrepo-com.svg" alt=""> -->
    <p>JUAN & SHARON - 07.06.2025</p>
  </div>
</div>