<div class="wrapper" (scroll)="onScroll($event)">
    <header [style.--progress]="progress">
        <div class="header-content">
            <!-- <img class="header-image" src="bg.jpeg" alt="Header Image" /> -->
            <div class="header-image">
                <div class="overlay"></div>
                <div class="header-image-data">
                    <h1>Sharon & Juan 💕</h1>
                    <h5>07.06.2025</h5>
                    <h6 style="text-align: center;">Sé parte de esta aventura y comparte fotos de nuestra boda, quedarán
                        unos recuerdos súúper bonitos</h6>
                        <div style="height: 30px;"></div>
                    <button class="btn btn-primary-white d-flex align-items-center justify-content-between">
                        <img class="me-2" width="20" src="/upload.svg" alt="">
                        Subir nuevo recuerdo</button>

                </div>
            </div>

            <div class="header-overlay">
                <h3 class="header-title">Sharon & Juan 💕</h3>
                <div class="actions">
                    <button class="btn btn-primary">Subir nuevo recuerdo</button>
                </div>
            </div>
        </div>
    </header>

    <main class="masonry">
        @for (item of items; track $index) {
        <div class="masonry-item">
            <img [src]="item" alt="Imagen" />
        </div>
        }
    </main>
</div>